

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
}

.main-section{
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 100px 350px;

}

.clock-holder{
  width: 100%;
  background: #000000;
    border-radius: 50%;
    width: 350px;
    height: 350px;  
  
}
.stopwatch{
  padding: 60px 0px;
  text-align: center;
}

.stopwatch span{
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 60px;
  margin-top: 50px;
  text-decoration-line: underline;

}

.stopwatch .stopwatch-btn{
  background: #fff;
  margin-top: 70px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  text-transform: uppercase;
  width: 100px;
  transition: background 1s;
  cursor: pointer;
}

.stopwatch .stopwatch-btn-gre{
  
    background: #92c483;
    border: 2px solid #92c483;
    color: #fff;
  }

.stopwatch .stopwatch-btn-red{
  background: #b43152;
  border: 2px solid #b43152;
  color: #fff;
}